#main {
    width: 100%;
}
td {
    padding: 10px;
}

/* Account status */
.outgoing {
    background-color: #ff6d78;
}

.incoming {
    background-color: #88ff79;
}

.transfers {
    padding: 0;
}

table {
    display: inline-table;
}

#transfersDiv {
    padding: 0;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #60656F;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#left {
    display: inline-flex;
}

#right {
    display: inline-flex;
}